form{
    width: 50%;
    margin: 0 auto;
    background-color: bisque;
    padding: 10px;
}
.section1 div{
    float: left;
    width: 50%;
    
}
input{
    padding: 10px;
    margin-right: 5px;
    width: 90%;
    margin-bottom: 5px;
}
.section2 input{
    width: 95%;
}
.section3 div{
    float: left;
    width: 50%;
} 
select{
    padding: 10px;
        margin-right: 5px;
        width: 96%;
        margin-bottom: 5px
}